.Rproj.user
.Rhistory
.RData
.Ruserdata
/docs/11-Count-centre.html
/docs/11-Count-centre-Sub.html
/docs/05-Candidate-Nominations.html
/docs/04-Declaration-Voting.html
/docs/04-Declaration-Voting-Sub.html
/docs/08-Ballot-Track.html
/docs/08-Ballot-Track-Sub.html
/docs/00-Index.html
